.containerHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #0E0E0C;
}

.logoHome img{
    width: 25%;
    cursor: pointer;
}

.topics{
    margin-right: 20vw;
    display: flex;
    gap: 10px;
}

.containerHome a{
    color: #C5BFBF;
    text-decoration: none;
    width: 8rem;
    text-wrap: nowrap;
    display: block;
    text-align: center;
    justify-content: center;    
    animation: 3s linear 1s infinite bordera;

    @keyframes bordera {
        from {
            border-bottom: none;
        }
        to {
            border-bottom: 1px solid #fff;
        }
    }
}

.containerHome a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #019fb6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .containerHome a:hover:after { 
    transform: scaleX(1); 
}
  .containerHome a:after{  
    transform-origin:  0% 50%; 
}




  

