/* SeuComponente.css */
.container {
  margin: 0;
  background-image: url('../../assets/fundo.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.conteudo {
  background-color: #212121;
  padding: 5%;
  border-radius: 10px;
  text-align: center;
  width: 40%;
  height: 50vh;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 50px;
  height: 30px;
  background-color: #272629;
  border: 1px solid #92ceee;
  padding-left: 25px;
  color: #828282;
}

.inputs input:focus {
  outline: none;
}

.inputs input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

.inputs input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.password {
  font-size: 10px;
  color: #828282;
  width: 20%;
  margin-left: 82%;
  text-decoration: underline;
  background-color: transparent;
}

.btnLogin {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: transparent;
  border: 1px solid #92ceee;
  width: 40%;
  border-radius: 50px;
  justify-content: center;
  font-family: 'Inter';
  font-weight: bold;
  margin-top: 10%;
  color: #92ceee;
}

.titleLogin {
  color: #E4E4E4;
}

.subtitleLogin {
  text-align: start;
  color: #E4E4E4;
  font-size: 1rem;
  font-weight: 500;
}

.register {
  background-color: transparent;
  color: #92ceee;
  font-family: 'Inter';
  font-weight: bold;
  width: 9.5%;
  margin-top: 10px ;
}