.containerNumbers{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    border-radius: 25px;
    color: #ffffff;
    width: 15%;
    text-align: center;
    line-height: 5px;
    padding: 1% 0% 1% 0%;
}

.card p{
    font-size: 12px;
    font-weight: 100;
    
}

.card h1{
    font-size: 42px;
    font-weight: 800;
}

